@charset "UTF-8";
* {
  margin: 0cm;
  padding: 0cm;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 35px; }

@media screen and (max-width: 767px) {
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400; } }

main .salas-lactante, main .salas-1año, main .salas-2año, main .salas-3año, main .salas-img {
  border-radius: 51px 51px 51px 51px;
  -webkit-border-radius: 51px 51px 51px 51px;
  -moz-border-radius: 51px 51px 51px 51px;
  padding: 25px; }

.comienzo {
  background-color: white;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0px;
  padding: 0px; }
  .comienzo img {
    width: 150px;
    height: 150px; }

main .siguiente-seccion {
  margin-top: calc(10rem + 16px); }
  main .siguiente-seccion .carousel-inner div img {
    max-height: 70vh;
    max-width: 100%; }

main .bienvenidos div {
  padding: 20px; }
  main .bienvenidos div h2 {
    color: #82027e;
    margin: 0px 0px 8px;
    padding: 10px; }
  main .bienvenidos div p {
    color: gray;
    text-align: center;
    margin: 0px 0px 16px; }

main .bienvenidos2 {
  padding: 50px; }
  main .bienvenidos2 div {
    align-items: center; }
    main .bienvenidos2 div .objetivo-gulili {
      color: #82027e;
      font-size: 20px;
      text-align: center;
      line-height: 40px;
      text-shadow: -3px 7px 9px rgba(6, 162, 137, 0.69);
      border-radius: 35px 35px 35px 35px;
      -webkit-border-radius: 35px 35px 35px 35px;
      -moz-border-radius: 35px 35px 35px 35px;
      border: 13px outset rgba(217, 255, 80, 0.42); }
    main .bienvenidos2 div .index-img-reuniones {
      width: 180px;
      align-content: center; }
    main .bienvenidos2 div .compromiso-gulili {
      color: #99cf15;
      text-align: right;
      font-size: 30px; }

main .nosotros3 {
  background-image: url(../img/watercolor.jpg);
  background-size: cover;
  background-position: center; }
  main .nosotros3 div .texto-con-fondo {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 20px; }
    main .nosotros3 div .texto-con-fondo p {
      color: gray;
      font-weight: 600;
      font-size: large; }
  main .nosotros3 .imagen-fondo {
    position: relative;
    background-image: url(../img/watercolor.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 20px; }

main .separador-salas div h2 {
  background-image: url(../img/separador-salas.jpg);
  color: white;
  padding: 1vw;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 10vw;
  height: 15vw;
  margin: 5vw; }

main .nuestro-jardin {
  padding: 10px; }
  main .nuestro-jardin div h2 {
    color: #82027e;
    font-size: 40px;
    font-weight: 400;
    padding: 10px; }
  main .nuestro-jardin div p {
    color: gray; }
  main .nuestro-jardin .nuestro-jardin-img {
    height: 400px;
    object-fit: cover;
    border-radius: 66px 36px 35px 0px;
    -webkit-border-radius: 66px 36px 35px 0px;
    -moz-border-radius: 66px 36px 35px 0px; }

main .infra {
  background-image: url(../img/separador3.jpg); }
  main .infra div h2 {
    color: #82027e;
    font-size: 30px;
    font-weight: 400;
    padding: 10px; }
  main .infra div ul {
    list-style: square; }
    main .infra div ul li {
      margin-bottom: 15px; }

main .salas-lactante {
  background-color: aquamarine; }
  main .salas-lactante div p {
    color: gray;
    text-align: center;
    padding: 10px; }

main .salas-1año {
  background-color: RGBA(0, 78, 195, 0.4); }
  main .salas-1año div p {
    color: black;
    text-align: center;
    padding: 10px; }

main .salas-2año {
  background-color: RGBA(255, 78, 195, 0.4); }
  main .salas-2año div p {
    color: gray;
    text-align: center;
    padding: 10px; }

main .salas-3año {
  background-color: RGBA(0, 247, 0, 0.33); }
  main .salas-3año div p {
    color: black;
    text-align: center;
    padding: 10px; }

main .salas-img {
  height: 400px;
  object-fit: cover; }

main .jornada-horario div h2 {
  color: #82027e;
  font-size: 35px;
  font-weight: 400;
  padding: 10px; }

main .jornada-horario div h4 {
  padding: 10px; }

main .tipo-jornadas div {
  background-color: #82027e;
  text-align: center;
  color: white;
  border-radius: 103px 103px 103px 104px;
  -webkit-border-radius: 103px 103px 103px 104px;
  -moz-border-radius: 103px 103px 103px 104px;
  padding: 20px;
  margin-bottom: 20px; }
  main .tipo-jornadas div h6 {
    line-height: 30px; }

main .info-padres {
  background-image: url(../img/separador1.jpg); }
  main .info-padres div h2 {
    color: black;
    font-size: 35px;
    font-weight: 600;
    padding: 10px; }
  main .info-padres div ul li {
    text-align: center;
    margin: 10px; }

main .info-jardin .info-jardin-div img {
  width: 80px;
  height: 80px;
  margin: 10 150px; }

main .info-jardin .info-jardin-div h3 {
  text-align: center; }

main .info-jardin h2 {
  color: #82027e;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  margin: 20px; }

main .contacto {
  background-color: #ffffff;
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
  main .contacto div h2 {
    color: #82027e;
    font-size: 36px;
    padding: 20px; }
  main .contacto div img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px; }
  main .contacto div p {
    color: gray; }

main .contacto-formulario {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffcece;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
  main .contacto-formulario h3 {
    color: #82027e;
    font-size: 25px;
    margin-bottom: 25px; }
  main .contacto-formulario div input[type="text"]:focus, main .contacto-formulario div input[type="email"]:focus, main .contacto-formulario div textarea:focus {
    border-color: #82027e; }
  main .contacto-formulario button {
    background-color: #82027e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; }
  main .contacto-formulario button:hover {
    background-color: #6c016c; }

.footer {
  background-color: #f8f9fa;
  padding: 30px 0;
  color: #343a40; }
  .footer div h3 {
    font-size: 25px;
    color: #343a40;
    margin-bottom: 20px; }
  .footer div p {
    margin-bottom: 15px; }
    .footer div p img {
      width: 30px;
      height: 30px; }
  .footer div ul {
    list-style: none;
    padding-left: 0; }
    .footer div ul li {
      display: inline-block;
      margin-right: 20px; }
      .footer div ul li img {
        width: 30px;
        height: 30px; }
  .footer div iframe {
    width: 100%;
    height: 200px;
    border: none; }

@media screen and (max-width: 767px) {
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400; } }

@media (max-width: 767px) {
  .navbar-nav {
    background-color: white;
    transition: background-color 0.3 ease; }
  .navbar {
    max-height: 150px; }
  .comienzo img {
    width: 125px;
    height: 125px; } }

@media (max-width: 767px) {
  .infra div h2 {
    font-size: 25px;
    font-weight: 350; } }

@media screen and (max-width: 767px) {
  .index-img-reuniones {
    width: 90px; } }

@media (max-width: 767px) {
  .container div h2 {
    font-size: 30px;
    font-weight: 400; } }
