.comienzo{
    background-color: white;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0px;
    padding: 0px;

    img{
        width: 150px;
        height: 150px;
    }
}