main {
    .siguiente-seccion {
        margin-top: calc(10rem + 16px);

        .carousel-inner {
            div {
                img {
                    max-height: 70vh;
                    max-width: 100%;
                }
            }
        }
    }
    .bienvenidos{
        div{
            padding: 20px;
            h2{
                color: $color-principal;
                margin: 0px 0px 8px;
                padding: 10px;
            }

            p{
                color: $color-texto;
                text-align: center;
                margin: 0px 0px 16px;
            }
        }
    }
    .bienvenidos2 {
        padding: 50px;
        div {
            align-items: center;
            .objetivo-gulili {
                color: $color-principal;
                font-size: 20px;
                text-align: center;
                line-height: 40px;
                text-shadow: -3px 7px 9px rgba(6, 162, 137, 0.69);
                border-radius: 35px 35px 35px 35px;
                -webkit-border-radius: 35px 35px 35px 35px;
                -moz-border-radius: 35px 35px 35px 35px;
                border: 13px outset rgba(217, 255, 80, 0.42);
            }

            .index-img-reuniones {
                width: 180px;
                align-content: center;
            }

            .compromiso-gulili {
                color: #99cf15;
                text-align: right;
                font-size: 30px;
            }
        }
    }

    .nosotros3 {
        background-image: url(../img/watercolor.jpg);
        background-size: cover;
        background-position: center;
        div{
            .texto-con-fondo{
                background-color: rgba(255, 255, 255, 0.7);
                text-align: center;
                padding: 20px;
                p{
                    color: $color-texto;
                    font-weight: 600;
                    font-size: large;
                }
            }
        }
        .imagen-fondo{
            position: relative;
            background-image: url(../img/watercolor.jpg);
            background-size: cover;
            background-position: center;
            height: 300px;
            margin-bottom: 20px;
        }
    }
    //** ------FIN DE PAGINA INDEX--------- **//

        //**SEPARADOR SALAS-NOSOTROS-INFORMACION  **/(
    .separador-salas{
        div{
            h2{
                background-image: url(../img/separador-salas.jpg);
                color: white;
                padding: 1vw;
                font-weight: 600;
                font-style: normal;
                text-align: center;
                font-size: 10vw;
                height: 15vw;
                margin: 5vw;
            }
        }
    }
    //**--------------PAGINA NOSOTROS--------------------  **/
    
    .nuestro-jardin{
        padding: 10px;
        div{
            h2{
                color: $color-principal;
                font-size: 40px;
                font-weight: 400;
                padding: 10px;
            }
            p{
                color: $color-texto;
            }
        }
        .nuestro-jardin-img{
            height: 400px;
            object-fit: cover;
            border-radius: 66px 36px 35px 0px;
            -webkit-border-radius: 66px 36px 35px 0px;
            -moz-border-radius: 66px 36px 35px 0px;
        }
    }
    .infra{
        background-image: url(../img/separador3.jpg);
        div{
            h2{
                color: $color-principal;
                font-size: 30px;
                font-weight: 400;
                padding: 10px;
            }
            ul{
                list-style: square;
                li{
                    margin-bottom: 15px;
                }
            }
        }
    }
    //**-------------PAGINA SALAS---------------  **/

    .salas-lactante{
        background-color: aquamarine;
        @extend %border;
        div{
            p{
                color: $color-texto;
                text-align: center;
                padding: 10px;
            }
        }
    }

    .salas-1año{
        background-color: RGBA(0, 78, 195, 0.4);
        @extend %border;
        div{
            p{
                color: black;
                text-align: center;
                padding: 10px;
            }
        }
    }

    .salas-2año{
        background-color: RGBA(255, 78, 195, 0.4);
        @extend %border;
        div{
            p{
                color: $color-texto;
                text-align: center;
                padding: 10px;
            }
        }
    }
    .salas-3año{
        background-color: RGBA(0, 247, 0, 0.33);
        @extend %border;
        div{
            p{
                color: black;
                text-align: center;
                padding: 10px;
            }
        }
    }
    .salas-img{
        height: 400px;
        object-fit: cover;
        @extend %border;
    }

    //**---------PAGINA INFORMACION--------------  **/

    .jornada-horario{
        div{
            h2{
                color: $color-principal;
                font-size: 35px;
                font-weight: 400;
                padding: 10px;
            }
            h4{
                padding: 10px;
            }
        }
    }
    .tipo-jornadas div{
        background-color: #82027e;
        text-align: center;
        color: white;
        border-radius: 103px 103px 103px 104px;
        -webkit-border-radius: 103px 103px 103px 104px;
        -moz-border-radius: 103px 103px 103px 104px;
        padding: 20px;
        margin-bottom: 20px;
        h6{
            line-height: 30px;
        }
    }

    .info-padres{
        background-image: url(../img/separador1.jpg);
        div{
            h2{
                color: black;
                font-size: 35px;
                font-weight: 600;
                padding: 10px;
            }
            ul{
                li{
                    text-align: center;
                    margin: 10px;
                }
            }
        }
    }
    .info-jardin{
        .info-jardin-div{
            img{
                width: 80px;
                height: 80px;
                margin: 10 150px;

            }
            h3{
                text-align: center;
            }
        }
        h2{
            color: $color-principal;
            font-size: 40px;
            font-weight: 400;
            text-align: center;
            padding: 10px;
            margin: 20px;
        }
    }

        //**PAGINA CONTACTO  **/

}
