@media (max-width: 767px) {
    .infra{
        div{
            h2{
                font-size: 30px;
                font-weight: 400;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .index-img-reuniones {
        width: 90px;
    }
}